.wrapper {
    display: grid;
    grid-template-columns: 120px 1fr 100px;
    align-items: center;
    padding: 30px 40px;
}

.logo {
    width: 100%;
    font-weight: 900;
    font-size: 1.5em;
    color: #1e58ff;
}